body,
form select{
	font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
	font-size:11px;
	font-weight:normal;
	color:#000000;
}

h1, h2, h3, h4 ,h5, h6{
	font-weight:bold;
	/*font-family:Verdana, Arial, Helvetica, sans-serif;*/
}
h1 {
	font-size:14px;
	border:1px solid 
	color:#000000;
}
.content h2 {
	font-size:13px;
	color:#000000;
	margin:10px 0 6px;
}
.content h3 {
	font-size:13px;
	color:#000000;
	margin:13px 0 4px;
}
.content h4 {
	font-size:13px;
	color:#940a06;	
	margin:10px 0 6px;
}
.content h5 {
	font-size:11px;
	color:#000000;
	margin:10px 0 6px;
}
.content h6 {
	font-size:11px;
	margin:7px 0 6px;

	color:#000000;
}

h1.pagetitle {
	font-size:16px;
	color:#940a07;
	padding:0 0 8px 0;
	border-bottom:4px solid #600703;
}

body.home .content div.po_wtitle div.potitle h4,
body.productLanding .content div.po_wtitle div.potitle h4,
body.interior2column .c1 .content div.po_wtitle div.potitle h4 {
	font-weight:normal;
	color:white;
	margin:0;
}

label {
	font-size:11px;	
}

div#videos div#currenttitle {
	font-size:12px;
}

div.block div.titlewheader{
	color:#fff;
}

.boxHeader { 
	font-size:14px;
	font-weight:bold;
	color:#000000;
}
.blockHighlight { 
	font-weight:bold;
	color:#ec1c24;
}
a { 
	text-decoration:none;
	font-weight:normal;
	color:#0e3d61;
}
div#footer a:hover,
a:hover { 
	text-decoration:underline;
}
div.srchResult a{
	margin-bottom:20px;
}
div.pageing a{
	color:#000000;
	font-weight:normal;
}
#searchCriteria{ 
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:10px;
	color:#c6181f;
}
div.utilitynav a {
	font-weight:bold;
	color:#ffffff;
}
div.utilitynav #srchcrit input,
div.utilitynav #srchcrit select {
	color:#1487e0;
	font-size:10px;
}
div.utilitynav #srchcrit input {
	font-size:12px;
}
div#footer {
	color:#666666;
}
div#footer a{
	color:#ffffff;	
	text-decoration:none;
}
